{% extends 'base.html' %}
{% block container %}



<div class='card p-3 m-3' align="center">

    <p> Section contains information about authors and developers. </p>
    <br>
    <p style="color:red">The project was developed on the basis of the Novgorod Oncological Dispensary and is at the prototyping stage. </p>
    <br>
    <p> Choose language to read more.</p>
</div>
<div class='card p-3 m-3' align="center">

    <div class='row' align="center">
        <div class = 'col-6' align="center">
            <a href='/dev_ru' class="btn btn-outline-primary btn-lg"> RU </a>
         </div>
        <div class='col-6' align="center">
             <a href='/dev_en' class="btn btn-outline-primary btn-lg"> EN </a>
        </div>
    </div>





</div>




{% endblock %}