{% extends 'base.html' %}
{% block container %}
           <div class="'card p-3 m-0 align='center" style="font-weight: bold; font-family: OpenSans; color:#1E90FF">
                <h1 align = 'center'> Команда проекта </h1>

            </div>

<div class='card p-3 m-3' align="center">

    <div class='row' align="center">
        <div class = 'col-4' align="center">
              <img src="/static/dev/1.png" align="center" style="height:250px;" \
                 class="img-fluid">

            <div class="'card p-3 m-1 align='center" style="font-weight: bold; font-family: OpenSans">
                <h3> Виноградов Александр </h3>

                    <p style="color:#696969"> программист-разработчик,
                        инженер по мед.оборудованию </p>
            </div>

         </div>
        <div class='col-4' align="center">
              <img src="/static/dev/2.png" align="center" style="height:250px;" \
                 class="img-fluid">

                        <div class="'card p-4 m-0 align='center" style="font-weight: bold; font-family: OpenSans">
                <h3> Касьянов Алексей </h3>

                    <p style="color:#696969"> научный руководитель,
                        врач-рентгенолог высшей категории </p>
            </div>




        </div>





        <div class='col-4' align="center">
            <img src="/static/dev/3.png" align="center" style="height:250px;" \
                 class="img-fluid">

                                    <div class="'card p-4 m-0 align='center" style="font-weight: bold; font-family: OpenSans">
                <h3> Хаймин Александр </h3>

                    <p style="color:#696969"> программист-разработчик,
                        кандидат наук </p>
            </div>

        </div>

    </div>

     <div class="'card p-3 m-0 align='center" style="font-weight: bold; font-family: OpenSans; color:#1E90FF">
                <h5 align = 'center'> +7 950 684 03 54, tehnix53@gmail.com </h5>

            </div>



{% endblock %}