{% extends 'base.html' %}


{% block container %}

   <div class="'card p-3 m-0 align='center" style="font-weight: bold; font-family: OpenSans; color:#FF0000">
                <h5 align = 'center'> ...to display pictures - click the ID lines in the table below...  </h5>

            </div>




    <table class="table" style="font-weight: bold; font-family: OpenSans">
        <thead>
        <tr>
            <th><a href='/flg/by_index'>ID</a></th>
            <th><a href='/flg/by_date'>StudyDate</a></th>
            <th><a href="/flg/by_birth">BirthDate</a></th>
            <th><a href="/flg/by_cut"> CutBorder</a></th>
            <th><a href='/flg/by_rotation'>Rotation</a></th>
            <th><a href='/flg/by_cross'>Shoulder</a></th>
           <th><a href='/flg/by_status'>Breath</a></th>
             <th><a href='/flg/by_indea'>CTI</a></th>
            <th><a href='/flg/by_indea'>Status</a></th>

        <tr>
        </thead>
        <tbody>
        {% for i in flg_files %}

        <tr>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[0] }}</a></td>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[1] }}</a></td>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[2] }}</a></td>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[3] }}</a></td>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[4] }}</a></td>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[5] }}</a></td>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[6] }}</a></td>
            <td><a href='/flg_viewer/{{i[0]}}/image'>{{ i[10] }}</a></td>
            {% if i[7] == 'bad' %}
            <td bgcolor="ff0000"><a href='/flg_viewer/{{i[0]}}/image'>{{ i[7] }}</a></td>
            {%else %}
            <td bgcolor="00ff00"><a href='/flg_viewer/{{i[0]}}/image'>{{ i[7] }}</a></td>
            {%endif%}

        </tr>
        {% endfor %}
        </tbody>
    </table>


            <div class="container mt-4 p-3">
                <div class="card m-3 p-3">
                    <div class="row">
                        <div class="col" align="left">
                            <a href='/' class="btn btn-outline-primary btn-lg"> back</a>
                        </div>
                    </div>
                </div>
            </div>









{% endblock %}