{% extends 'base.html' %}

{% block container %}

<div class='card p-3 m-3' align="center">

    <p style="color:#696969; font-weight:bold"> This resource contains samples of work the automatic
        quality control deep learning algorithms in radiology.  </p>
 <p style="color:#696969; font-weight:bold">The algorithms were developed on the basis of the Novgorod Oncological Dispensary.
 </p>
    <br>
    <p style ="font-family: OpenSans;color:#1E90FF"> Choose modality below to show samples.</p>
</div>

<div class="container mt-4">

    <div class="row">
        <div class="col-6" align="center"><img src="/static/flg.png" \
                                               style="height:285px;" \
                                               class="img-fluid"></div>
        <div class="col-6" align="center"><img src="/static/mmg.png" \
                                               style="height:280px;" \
                                               class="img-fluid" alt=""></div>
    </div>

    <div class="container mt-4">

        <div class='row'>
            <div class="col-6" align="center"><a href='/flg/by_index' class="h1 my-1 text-blue bg-white">FLG</a></div>
            <div class="col-6" align="center"><a href='/mmg/by_imdexgit version' class="h1 my-1 text-blue bg-white">MMG</a></div>
        </div>

    </div>

    {% endblock %}