{% extends 'base.html' %}

{% block container %}


<div class="container mt-4">

    <div class="row">
        <div class="col-6" align="center"><img src="/static/fluro2.png" \
                                               style="width:400px;height:430px;" \
                                               class="img-fluid"></div>
        <div class="col-6" align="center"><img src="/static/mammo2.png" \
                                               style="width:400px;height:430px;" \
                                               class="img-fluid" alt=""></div>
    </div>

    <div class="container mt-4">

        <div class='row'>
            <div class="col-6" align="center"><a href='/flg/by_index' class="h1 my-1 text-blue bg-white">FLG</a></div>
            <div class="col-6" align="center"><a href='/mmg/by_imdexgit version' class="h1 my-1 text-blue bg-white">MMG</a></div>
        </div>

    </div>

    {% endblock %}