{% extends 'base.html' %}
{% block container %}


<div class='card p-3 m-3' align="center">
    <p>  There are a number of requirements for the quality of patient positioning regarding the fluorographic and mammographic apparatus. The unsatisfactory quality of the patient's inclinations leads to the fact that the disease is not visible on the image.</p>
</div>


<div class='card p-3 m-3' align="center">
    <div class='row' align="center">
        <div class = 'col-1'>
    </div>
        <div class='col-5' align="center">
            <img src="/static/info/1.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> Patient's inspiratory depth. The eighth rib should cross the inferior border of the lung, but should not be above or below it.</p>
            </div>
        </div>

        <div class='col-5' align="center">
            <img src="/static/info/2.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> The lung field should not be clipped from the sides, top or bottom.</p>
            </div>
        </div>
    </div>
</div>


<div class='card p-3 m-3' align="center">
    <div class='row' align="center">
        <div class = 'col-1'>
    </div>
        <div class='col-5' align="center">
            <img src="/static/info/3.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> The scapula (2) must not overlap the lung (1). 3 - overlap area.</p>
            </div>
        </div>

        <div class='col-5' align="center">
            <img src="/static/info/4.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> The patient should not be rotated relative to the plane of the image receiver. The ratio of A to I should be no more than 20%.</p>
            </div>
        </div>
    </div>
</div>

<div class='card p-3 m-3' align="center">
    <div class='row' align="center">
        <div class = 'col-1'>
    </div>
        <div class='col-5' align="center">
            <img src="/static/info/5.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> The angle between the vertical and the tangent to the pectoral muscle must be at least 20 degrees.</p>
            </div>
        </div>

        <div class='col-5' align="center">
            <img src="/static/info/6.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> The nipple should be in the field of view of the image.</p>
            </div>
        </div>
    </div>
</div>

            <div class="container mt-4 p-3">
                <div class="card m-3 p-3">
                    <div class="row">
                        <div class="col" align="left">
                            <a href='/' class="btn btn-outline-primary btn-lg"> back</a>
                        </div>
                    </div>
                </div>
            </div>




{% endblock %}