{% extends 'base.html' %}
{% block container %}


<div class='card p-3 m-3' align="center" style="font-weight: bold">
    <p>  Существует ряд требований к качеству позиционирования пациента относительно флюорографического и маммографического аппаратов. Неудовлетворительное качество  укладки пациента приводит к тому, что болезнь не видна на изображении. </p>
</div>


<div class='card p-3 m-3' align="center">
    <div class='row' align="center">
        <div class = 'col-1'>
    </div>
        <div class='col-5' align="center">
            <img src="/static/info/1.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p>  Глубина вдоха пациента. Восьмое ребро должно пересекать нижнюю границу легкого, но не должно быть ни выше, ни ниже его.</p>
            </div>
        </div>

        <div class='col-5' align="center">
            <img src="/static/info/2.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> Поле легких не должно быть обрезано с боков, сверху или снизу.</p>
            </div>
        </div>
    </div>
</div>


<div class='card p-3 m-3' align="center">
    <div class='row' align="center">
        <div class = 'col-1'>
    </div>
        <div class='col-5' align="center">
            <img src="/static/info/3.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> Лопатка (2) не должна перекрывать легкое (1). 3 - поле перекрытия.</p>
            </div>
        </div>

        <div class='col-5' align="center">
            <img src="/static/info/4.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> Пациент не должен быть повернут относительно плоскости приемника изображения. Отношение 1 к 2 должно быть не более 20%.</p>
            </div>
        </div>
    </div>
</div>

<div class='card p-3 m-3' align="center">
    <div class='row' align="center">
        <div class = 'col-1'>
    </div>
        <div class='col-5' align="center">
            <img src="/static/info/5.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> Угол между вертикалью и касательной к грудной мышце должен быть не менее 20 градусов.</p>
            </div>
        </div>

        <div class='col-5' align="center">
            <img src="/static/info/6.png" align="center" style="width:300px;height:330px;" \
                 class="img-fluid">
            <div class = 'card p-3'>
                <p> Сосок должен находиться в поле зрения изображения. </p>
            </div>
        </div>
    </div>
</div>

            <div class="container mt-4 p-3">
                <div class="card m-3 p-3">
                    <div class="row">
                        <div class="col" align="left">
                            <a href='/' class="btn btn-outline-primary btn-lg"> back</a>
                        </div>
                    </div>
                </div>
            </div>




{% endblock %}